* {
  font-family: "Poppins", sans-serif;
  margin: 0 !important;
}

.container-image {
  position: relative;
}

.container-image div {
  position: absolute;
  bottom: 0px;
  padding: 24px 0;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.7);
  max-height: 100%;
  max-width: calc(100% - 32px);
}

.fireIcon {
  width: 2rem;
  height: 2rem;
}

.maxHeight {
  max-height: 80px;
}

.gray {
  background-color: #ececec;
}

.spacing {
  padding: 1rem;
  gap: 1rem;
}
.spacing p {
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 0.2rem 1rem;
}


.HighlightTrue {
  opacity: 1;
  background-size: 100% 100%;
  background-position: 0% 0%;
}

.max-content {
  max-width: 1280px;
}

.calendarContent {
  gap: 1rem;
  padding-right: 2rem;
}

.calendarContent img {
  height: 1.2rem;
  width: 1.2rem;
}

.searchContent img {
  height: 1.5rem;
  width: 1.5rem;
  opacity: 0.9;
  cursor: pointer;

  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.searchContent img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.bgGreen {
  background-color: #007004;
}

.navSpacing {
  height: 100%;
  gap: 1rem;
}

.navSpacing p {
  height: 100%;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 1rem;
 
 
  
}

.navSpacing p:hover {
  background-size: 100% 100%;
  color: #DC3545;
}

.mainPhoto {
  width: 90%;
  background-color: #DC3545;
  position: relative;
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  color: #fff;
}

.mainPhoto div {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 2rem;
  font-weight: 800;

  background: linear-gradient(180deg, transparent 0%, #000 100%);
}



.mainPhoto:hover div h3 {
  background-size: 80px 3px;
}

.mainPhoto div h4 {
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}



.mainPhoto img {
  width: 100%;
  height: 100%;

  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mainPhoto img:hover {
  transform: scale(1.05);
}

.hotHeader {
  padding: 0.1rem 0.5rem;
  gap: 0.4rem;
}

.hotHeader p {
  font-size: 1.2rem;
  font-weight: 800;
}

.hotHeader img {
  height: 1.2rem;
  width: 1.2rem;
}

.hotContent {
  width: 100%;
  cursor: pointer;
  margin-top: 1rem !important;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hotContent::after {
  content: " ";
  width: 100%;
  height: 1px;
  margin-top: 1rem !important;
  background-color: rgba(107, 107, 107, 0.377);
}

.hotContent:last-child::after {
  height: 0px;
}


::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  opacity: 0;
  background-color: rgb(228, 228, 228);
}

::-webkit-scrollbar-thumb {
  opacity: 0;
  background-color: #bdc3c7;
  border-radius: 1rem;
}

.contentBottom {
  width: 93%;
}

.contentAside {
  max-width: 300px;
}


.contentAside img {
  max-width: 250px;
}

.contentThumb {
  max-width: 90%;
}

.contentThumb > div {
  cursor: pointer;
  width: 100%;
}

.contentThumb > div > div {
  gap: 0.5rem;
}



.contentThumb > div > div > p {
  font-size: 0.85rem;
}



.contentThumb div img {
  width: 100px;
  height: 100px;
  border-radius: 0.25rem;
}
